#!/bin/sh

./certbot.sh \
    -r \
    -c aws-config.gcm \
    -p /etc/letsencrypt/gcm/

./certbot.sh \
    -r \
    -c aws-config.arch \
    -p /etc/letsencrypt/arch/

./certbot.sh \
    -r \
    -c aws-config.glbi \
    -p /etc/letsencrypt/glbi/
